.one
{
    background-color:antiquewhite;
}
.img
{
    background-color: antiquewhite;
    
}
#zo
{
    font-size: larger;
    font-style: italic;
}
#gm
{
   margin-left: 23%;
    width: 200px;
    margin-top: 20px;
}
#mg
{
    margin-top: 10%;
    margin-left: 23%;
    width: 200px;
}
.img
{
    margin-bottom: 10rem;
    width: 250px;
    justify-content: space-around;   
}


#one
{
    margin-top: ;
}
#top
{


    


}